.vscode/
data-and-object-orientation/venv/
data-and-object-orientation/images/
data-and-object-orientation/data/
pca10040/s132/armgcc/_build/
data-and-object-orientation/__pycache__/
data-and-object-orientations/*.mp4
